# Циклы

## Циклы с фиксированным числом шагов

### Циклы со счетчиком

In [ ]:
range(10) # генератор ряда чисел

range(0, 10)

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
print(1, 2, 3, sep="_", end="-")
print(4)

1_2_3-4

In [ ]:
# для i, которая принимает значения в диапазоне от 0 до 9 включительно напечатать i
for x in range(10):
  print(x, end=', ')

0, 1, 2, 3, 4, 5, 6, 7, 8, 9,

In [ ]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [ ]:
# range(start, stop, end=1)
# меняем старт счётчика и шаг
for i in range(2, 10, 2):
  print(i, end=', ')

2, 4, 6, 8,

In [ ]:
for i in range(10, 0, -2):
  print(i, end=', ')

10, 8, 6, 4, 2,

Сумма первых `n` чисел

In [ ]:
n = int(input()) + 1
sum = 0
for i in range(n):
    # sum = sum + i
    sum += i
print(sum)

11
66

Сжать предложение до аббревиатуры

In [ ]:
sentence = "Привет, мой юный друг!" # input()
print(len(sentence))
abbr = ''
for i in range(len(sentence)):
    if sentence[i].isalpha() and (i == 0 or not sentence[i - 1].isalpha()):
        abbr += sentence[i].upper()
abbr

22

'ПМЮД'

In [ ]:
"""Сжать строку символов в код
   Пример входа: aaaffdaafffferreeee
   Пример вывода: a3f2d1a2f4e1r2e4"""

   # ваш код

### Циклы по коллекциям

In [ ]:
"""итерация по коллекциям"""
my_list = [1, 'hfjg', 2.0,]
for element in my_list:
  print(element, end=', ')

1, hfjg, 2.0,

In [ ]:
"""Дробный шаг"""
my_list = [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0]
for element in my_list:
  print(element, end=', ')

0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0,

range(10) - по сути тоже коллекция, а точнее может восприниматься как лист: `[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]`

**Оператор** `continue`

In [ ]:
"""получить все нечетные цифры"""
for i in range(10):
  if i % 2 == 0:
    continue
  print(i, end=', ')

1, 3, 5, 7, 9,

**Оператор**: `break`

**Управляющая конструкция**: `else`

In [ ]:
"""else выполняется, когда не выполнилось break"""
# Найти одно число, которое делиться и на 3 и на 5
for i in range(1, 9):
    if i % 3 == 0 and i % 5 == 0:
        print(f"Искомое число найдено: {i}")
        break
else:
    print('Во всей коллекции не было числа удовлетворяющего условиям')

Во всей коллекции не было числа удовлетворяющего условиям

**Пара полезных приемов**

In [ ]:
# enumerate
"""Найти номера всех кратных 3 чисел в коллекции"""
for n, digit in enumerate(range(2, 13, 2)):
    if digit % 3 == 0:
        print(f"Число {digit} кратно 3, его номер в коллекции: {n}")

Число 6 кратно 3, его номер в коллекции: 2
Число 12 кратно 3, его номер в коллекции: 5

In [ ]:
# zip - идет от нулевого элемента, до ндекса самого короткого списка
"""Сравнить два (N) списков поэлементно"""
for x_1, x_2 in zip(range(10), range(15)):
    if x_1 != x_2:
        print(f"Списки не равны")
        break
else:
    print("Списки равны")

Списки равны

Задачка на подумать

In [ ]:
# Вывести все простые числа среди первых n чисел
n = 100
simple = []
# ваш код

## Циклы без фиксированного числа шагов

In [ ]:
sum = 0
cnt = 0
while sum < 54:
    cnt += 1
    sum += cnt
print(f"Сумма первых {cnt} натуральных чисел превышает {54} и равна {sum}")

Сумма первых 10 натуральных чисел превышает 54 и равна 55

else

In [ ]:
i = 1
while i <= 10:
    print(i, end=" ")
    i += 1
print('Цикл окончен, i =', i)

1 2 3 4 5 6 7 8 9 10 Цикл окончен, i = 11

In [ ]:
a = int(input())
while a != 0:
    if a < 0:
        print('Встретилось отрицательное число', a)
        break
    a = int(input())
else:
    print('Ни одного отрицательного числа не встретилось')

5
-2
Встретилось отрицательное число -2

In [ ]:
i = 0
while True:
    i += 1
    print(i, end=" ")
    if i > 10:
        break

1 2 3 4 5 6 7 8 9 10 11

# List

In [ ]:
my_list = []
my_list_2 = list()
my_list, my_list_2

([], [])

In [ ]:
my_list = [1, 2, 3.0 ,4, '2', 'gg', [1, 3]]

**Индексы и срезы**

In [ ]:
my_list[2]

3.0

In [ ]:
my_list[-1]

[1, 3]

In [ ]:
my_list[-1][0]

1

**Замена элемента по индексу**

In [ ]:
my_list[3] = 9.0
my_list

[1, 2, 3.0, 9.0, '2', 'gg', [1, 3]]

In [ ]:
my_list[2:5]

[3.0, 9.0, '2']

Если с одной стороны от двоеточия пусто, то это подразумевает:


1.   Видим my_list[:5] - python "видит" my_list[None:5] - получить все элементы сначала списка до 5-го не включительно
2.   Видим my_list[5:] - python "видит" my_list[5:None] - получить все элементы с 5-го включительно и до конца списка
2.   Видим my_list[:] - python "видит" my_list[None:None] - получить все элементы списка

In [ ]:
my_list[:5]

[1, 2, 3.0, 9.0, '2']

In [ ]:
my_list[4:]

['2', 'gg', [1, 3]]

In [ ]:
my_list[-3:-2] = [1, 1]

In [ ]:
my_list

[1, 2, 3.0, 9.0, 1, 1, 'gg', [1, 3]]

Шаг среза

In [ ]:
my_list[::2]

[1, 3.0, 1, 'gg']

Реверс списка

In [ ]:
my_list[::-1]

[[1, 3], 'gg', 1, 1, 9.0, 3.0, 2, 1]

In [ ]:
my_list_2 = my_list

In [ ]:
#  добавление в конец списка
my_list_2.append(9)
my_list_2

[1, 2, 3.0, 9.0, 1, 1, 'gg', [1, 3], 9]

In [ ]:
my_list

[1, 2, 3.0, 9.0, 1, 1, 'gg', [1, 3], 9]

In [ ]:
# копирование
my_list_2 = my_list[:]

In [ ]:
# извлекает последний элемент
my_list_2.pop()

9

In [ ]:
my_list

[1, 2, 3.0, 9.0, 1, 1, 'gg', [1, 3], 9]

In [ ]:
my_list_2.append([9,8,2])
my_list_2

[1, 2, 3.0, 9.0, 1, 1, 'gg', [1, 3], [9, 8, 2]]

In [ ]:
# дополнение списка элементами другого списка
my_list = [1,2,3]
my_list_2 = [4,5,6,]
my_list.extend(my_list_2)
my_list

[1, 2, 3, 4, 5, 6]

In [ ]:
my_list = my_list.extend(my_list_2)
print(my_list)

None

In [ ]:
# дополнение списка элементами другого списка
my_list.append(my_list_2[:])

In [ ]:
# номер элемента в списке
my_list = [1,2,4,5,6,4,6,]
if 410 in my_list:
    print(my_list.index(410))
else:
    print("No element")

No element

In [ ]:
# номер элемента в списке
my_list.remove(410)

ValueError: ignored

In [ ]:
my_list

[1, 2, 5, 6, 4, 6]

In [ ]:
# вставка в указанную позицию
# .insert(<номер позиции>, <объект, который нужно вставить>)
my_list.insert(3,"ff")

In [ ]:
my_list

[1, 2, 5, 'ff', 6, 4, 6]

In [ ]:
len(my_list_2)

3

In [ ]:
# найти элементы списка, которые есть в обоих списках
l_1 = [1,2,3,4,5,6,7,]
l_2 = [6,7,9,10,11]

# ваш код

In [ ]:
# отфильтровать список от объектов, которые не являются числами
l = [1,2,3, 'gfg', '25']
l_2 = []

# ваш код

In [ ]:
# создать один список "плоский" списко из списка списков
l = [[1,2,3],
     [4,5,6],
     [7,8,9]]
l_2 = []

# ваш код

In [ ]:
my_list = list(range(10))
sum(my_list), min(my_list), max(my_list)

(45, 0, 9)

# Генераторы списка

![picture](https://habrastorage.org/files/688/052/4d1/6880524d12ff4f689c0a84d1302c5715.png)

**Простая генерация последовательностей**

In [ ]:
range(10)

range(0, 10)

In [ ]:
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

**Генерация последовательностей с функцией**

In [ ]:
[i / 10 for i in range(11)]

[0.0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0]

In [ ]:
for el in [i / 10 for i in range(10)]:
    print(el, end=", ")

0.0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9,

In [ ]:
list_a = [-2, -1, 0, 1, 2, 3, 4, 5]
list_b = [x ** 2 for x in list_a]
print(list_b)

[4, 1, 0, 1, 4, 9, 16, 25]

In [ ]:
list_a = ['a', 'abc', 'abcde']
list_b = [len(x) for x in list_a]
print(list_b)

[1, 3, 5]

In [ ]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [ ]:
sorted([i / 10 for i in range(11)], reverse=True)

[1.0, 0.9, 0.8, 0.7, 0.6, 0.5, 0.4, 0.3, 0.2, 0.1, 0.0]

In [ ]:
sorted([-1, 5,4,-3, -10], reverse=False, key=abs)

[-1, -3, 4, 5, -10]

In [ ]:
list_a = ['a', 'abc', 'abcde', 'zas', 'rrrrrrrrr']
sorted(list_a, reverse=True)

['zas', 'rrrrrrrrr', 'abcde', 'abc', 'a']

In [ ]:
list_a = ['a', 'abc', 'abcde', 'zas', 'rrrrrrrrr']
sorted(list_a, reverse=True, key=len)

['rrrrrrrrr', 'abcde', 'abc', 'zas', 'a']

**Применяем условие**

In [ ]:
# if x % 2 == 0 - остаток от деления на 2 равен нулю - число четное
list_a = [-2, -1, 0, 1, 2, 3, 4, 5] 
list_b = [x for x in list_a if x % 2 == 0]
print(list_b)

[-2, 0, 2, 4]

In [ ]:
list_a = [-2, -1, 0, 1, 2, 3, 4, 5]
list_b = [x for x in list_a if x % 2 == 0 and x > 0]
# берем те x, которые одновременно четные и больше нуля
print(list_b)

[2, 4]

In [ ]:
list_a = [-2, -1, 0, 1, 2, 3, 4, 5]
list_b = [x if x < 0 else x ** 2 for x in list_a]
# Если x-отрицательное - берем x, в остальных случаях - берем квадрат x
print(list_b)

[-2, -1, 0, 1, 4, 9, 16, 25]

**Сложное условие**

In [ ]:
list_a = [-2, -1, 0, 1, 2, 3, 4, 5]
list_b = [x ** 3 if x < 0 else x ** 2 for x in list_a if x % 2 == 0]
# вначале фильтр пропускает в выражение только четные значения
# после этого ветвление в выражении для отрицательных возводит в куб, а для остальных в квадрат
print(list_b)   # [-8, 0, 4, 16]

[-8, 0, 4, 16]

**Если плоский формат читается сложно, то можно его написать в несколько строк**

In [ ]:
numbers = range(10)

# До
squared_evens = [n ** 2 for n in numbers if n % 2 == 0]

# После
squared_evens = [
    n ** 2
    for n in numbers
    if n % 2 == 0
]